.root {
  position: relative;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px;
  border-bottom: 1px solid #eee;
}

.description {
  display: flex;
}

.description p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.description img {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
